<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="CustomTestFrameworkSuite">
    <test name="SampleTests">
        <classes>
            <class name="com.example.tech.BaseTest"/>
            <class name="com.example.tech.ProductTest"/>
             <class name="com.example.tech.AdvancedProductTest"/>
        </classes>
    </test>
</suite>
